$spacings: (0: 0, 1: 1, 2: 2, 3: 4, 4: 6, 5:12) !default
$spacingVariationBuilder: (m: margin,p: padding,mr: margin-right,mb: margin-bottom,ml: margin-left,mt:margin-top,pr:padding-right,pb:padding-bottom,pl:padding-left,pt: padding-top) !default
$positions: (t: top, b: bottom, l:left, r:right)
$breakpoints: (xs: 32em, sm: 48em, md: 64em, lg: 80em, xl: 90em, xxl: 120em) !default
$grid-columns: 12 !default
$iconSizes: (xs: 1.2rem, sm: 1.4rem, md: 1.6rem, lg: 2rem, xl: 2.4rem, xxl: 3.2rem)

$mainColors: (brand: #304ffe, accent: #850bd8, buy: #00c84c) !default
$alert: (success: #00c84c, information: #304ffe, warning: #febe30, error: #fe3030, alert: var(--color-dark))
$derivedColors: (dark: #000, light: #fff,muted: var(--color-gray-10), neutral: var(--color-gray-4), neutral-light: var(--color-gray-2), content: #000,  link: var(--color-brand), border: var(--color-gray-2))
$availability: (stock-ok: var(--color-success, green), stock-limited: var(--color-warning, orange), stock-none: var(--color-error, red))

$buttons: ("dark": (brand:brand-darker, accent:accent-darker, buy:buy-darker, dark:dark, muted:dark),"light": (neutral: dark, neutral-light: dark, light: dark))



//typography
$typoScale: (base:1.6, ratio: 1.333)
$mobileTypoScale: (base:1.6, ratio:1.125)
$contentFontSizes: (xs: 1.2rem, sm: 1.4rem, md: 1.6rem, lg: 2rem, xl: 2.4rem, xxl: 3rem, default: 1.6)
