@use "./../variables" as *

button, .btn
  user-select: none
  --icon-size: 1.6rem
  margin: 0
  display: inline-flex
  align-items: center
  justify-content: center
  line-height: calc(var(--button-line-height, 4rem) - 2*var(--button-border-size, 0rem))
  border: var(--button-border-size, 0rem) solid var(--button-border-color)
  min-width: var(--button-line-height, 4rem)
  padding: 0 var(--button-padding, 2rem)
  background: var(--button-bg, var(--color-muted))
  color: var(--button-color, var(--color-content))
  border-radius: var(--border-radius, 0rem)
  text-decoration: none
  outline: none
  transition: var(--transition, all 0s linear)
  cursor: pointer
  vertical-align: bottom  
  font-family: var(--font-family-button, var(--font-family-main)) 
  &:hover
    background: var(--button-bg-hover, var(--button-bg))
    color: var(--button-color-hover, var(--button-color))
    border-color: var(--button-border-color-hover, var(--button-border-color))
    --icon-color: var(--button-color-hover, var(--button-color))
  .icon
    display: inline-flex
    align-items: center
    justify-content: center
  &[icon-position="left"]
    span:not(.icon)
      order: 2
    .icon
      order: 1
      margin-right: var(--icon-spacing, 1rem)
  &[icon-position="right"]
    .icon
      margin-left: var(--icon-spacing, 1rem)
  &.disabled
    opacity: 0.2
    cursor: not-allowed
.btn-icon
  --button-padding: 0
  --button-bg: transparent
  --icon-size: 1.6rem
  height: calc(var(--button-line-height, 4rem))
  width: calc(var(--button-line-height, 4rem))  
.btn-link 
  height: unset 
  width: unset
  line-height: inherit
  --button-bg: transparent 
  --button-bg-hover: transparent
  --button-padding: 0rem
  min-width: unset
.btn-inline
  min-width: 1px
  width: auto  

//button creation  
@each $prop, $value in $buttons
  @each $color, $hover in $value
    $textColor: "light"
    @if $prop == "light"
      $textColor: "dark"   
    .btn-fill--#{$color}
      --button-bg: var(--color-#{$color})
      --button-bg-hover: var(--color-#{$hover})    
      --button-color: var(--color-#{$textColor})
      --button-color-hover: var(--color-light)
      --icon-color: var(--color-#{$textColor})
      .ico
        --transition: all 0s linear
    .btn-border--#{$color}
      --button-bg: transparent      
      --button-bg-hover: var(--color-#{$color})
      --button-color:  var(--color-#{$color})
      @if $color != "light"
        --button-color-hover: var(--color-light)
      @else
        --button-color-hover: var(--color-dark)
      --button-border-size: var(--border-size, 0.1rem)
      --button-border-color: var(--color-#{$color})
      --icon-color: var(--color-#{$color})
      .ico
        --transition: all 0s linear
    .btn-icon--#{$color}
      --button-color: var(--color-#{$color})
      --button-color-hover: var(--color-#{$hover})
