\:root
  --form-border-size: 0.1rem
  --form-border-color: var(--color-border)
  --form-font-stack: 400 1.4rem "Open Sans", sans-serif
  --form-placeholder-color: var(--color-muted)
  --form-padding: 1rem
  --form-border-radius: 0rem
  --form-spacing: 1rem //tobedeleated