@use "./../variables" as *
@use "./../mixins" as *
  

.box-shadow
  --box-shadow: #00000021 0 0 15px 0
  box-shadow: var(--box-shadow)
  
@each $k,$v in $iconSizes
  .icon-#{$k}
    --icon-size: #{$v}
    
.object-fit-cover
  object-fit: cover
.object-fit-md-unset
  +breakpoint(md)
    object-fit: unset    

  
