$headings: ( h1: 3.906rem, h2: 3.125rem, h3: 2.5rem, h4: 2rem  , h5: 1.6rem, h6: 1.28rem ) !default
$spacings: (0: 0, 1: 1, 2: 2, 3: 4, 4: 6) !default
$spacingVariationBuilder: (m: margin,p: padding,mr: margin-right,mb: margin-bottom,ml: margin-left,mt:margin-top,pr:padding-right,pb:padding-bottom,pl:padding-left,pt: padding-top) !default
$breakpoints: (xs: 32em, sm: 48em, md: 64em, lg: 80em, xl: 90em, xxl: 124em) !default
$grid-columns: 12 !default
$lightgrays: (one: #ECEFF1, two: #CFD8DC, three: #B0BEC5, four: #90A4AE) !default
$darkgrays: (five: #78909C, six: #607D8B, seven: #546E7A, eight: #455A64, nine: #37474F, ten:#263238) !default
$primary: (brand: #304ffe, brand-darker: #0026ca, brand-lighter: #7a7cff)
$secondary: (accent: #aa00ff, accent-darker: #7200ca, accent-lighter: #e254ff)
$buy: (buy: #008900, buy-darker: #005a00, buy-lighter: #4eba3c)
$alert: (success:#008900, information: #304ffe, warning: #aa00ff, error: #d50000, alert: #000)
$basic: (dark: #000, light: #fff)
$inheritedColors:  (content: #000,  link: #304ffe, muted: #78909C, border: #CFD8DC, form-border: #CFD8DC)
$availability: (stock-ok: #008900, stock-limited: #FF3D00, stock-none: #d50000)
$darkThemedButtons: (brand:brand-darker, accent:accent-darker, buy:buy-darker, dark:dark, muted:dark)
$lightThemedButtons: ()
$textColors: light, muted, dark, brand, accent, buy
//defaults to hover:dark
//$neutralButtons: (light:dark, muted:light, dark:light)
