@use "./sass/framework/mixins"
@use "./sass"  
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Roboto+Condensed:wght@300;400;700&family=Roboto+Mono:wght@500&display=swap')
\:root 
  --border-radius: 0.6rem
  --grid-gap: 1rem
  --font-family-headings: "Roboto Condensed",sans-serif
body 
  background-color: #fcfcfc
 
.ui-color
  height: 4.4rem
  // min-width: 25rem    
  display: flex 
  flex-wrap: wrap
  align-items: center
  background-color: var(--color, #000)
  color: var(--text, #fff)
  justify-content: space-between
  padding: 0 1rem
  font-weight: 600
  small 
    font-weight: 500
.ui-wrapper 
  display: grid   
  +mixins.breakpoint(lg)   
    > aside
      height: 100vh     
    > main 
      height: 100vh
// .ui-lead  
// .ui-heading  
  
.ui-nav  
  a 
    width: 100%
    display: block
.d-block
  display: block
.ui-component
  margin-bottom: 2rem    
.ui-block-code 
  background: #2c2c2c
  color: #6eca50
  border: 2px solid #767676
  border-radius: 2rem
  font-size: 1.2rem  
  pre 
    font-family: "Roboto Mono", monospace
ion-icon 
  font-size: var(--icon-size)  
.ui-box
  width: 15rem
  height: 15rem  